.schedule {
  display: flex;
  flex-direction: column;
}

.schedule > h3 {
  display: flex;
  justify-content: center;
  padding: 1.25rem;
  border-bottom: 1px solid #a1aaad;
  background-color: #c62033;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: #a1aaad;
  height: 20px;
}

.schedule__tableText {
  font-size: 0.75rem;
}

.schedule__tableCellTime {
  font-size: 0.6em;
  color: #A1AAAD;
}

.schedule__tableCellOpponent {
  font-size: 0.6em;
  color: #A1AAAD;
}

.schedule__avatar {
  font-size: 0.6rem;
}

.schedule__tableCellHeader {
  color: #cdcdcd;
}
