.team {    
  width: 100%;
  background-color: #ffffff;
  margin-top: 40px;
  border-radius: 15px; 
  
}

.team > h3 {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 10px;
  background-color: #d11800;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #eaeaea;  
  
}


.team > h3:hover {
  transform: scale(1.07);
  cursor: pointer;
}


.team__header {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
  margin-bottom: 5px;
}


.team__button {
  display: flex;
  justify-content: center;
  border: none;
  cursor: pointer;
  outline: none;
  width: 30%;
  padding: 10px 0;
  color: #cdcdcd;
  background-color: #ffffff;
}

.team__header > button:hover,
button:focus,
button:active,
button:visited,
.active {
  border-bottom: 2.5px solid red;
  transform: scale(1.07);
  color: black;
}

