.team { 
  display: flex;  
  flex-direction: column;   
  /* background-color: green; */
  margin-top: 40px;
  border-radius: 10px; 
  
  
}

.team > h3 {
  display: flex;
  justify-content: center;
  padding: 15px;
  border-bottom: 1px solid #eaeaea;  
  background-color: #d11800;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #eaeaea;  
  
}


.team > h3:hover {
  transform: scale(1.07);
  cursor: pointer;
}


.team__header {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 5px;
  background-color: #ffffff;
}


.team__button {
  display: flex;
  justify-content: center;
  border: none;
  cursor: pointer;
  outline: none;
  width: 30%;
  padding: 10px 0;
  color: #cdcdcd;
  background-color: #ffffff;
  font-size: .75rem;
}

.team__header > button:hover,
button:focus,
button:active,
button:visited,
.active {
  border-bottom: 2.5px solid red;
  transform: scale(1.07);
  color: black;
}

