.about {
  display: flex;
 
}

.about__content {
    display: flex;
    flex-direction: column;
    padding: 5rem 20rem 5rem 20rem;
}

.about__content > h1 {
    text-align: center;
    padding-bottom: 2.5rem;
    
}

