* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  overflow-anchor: none;
  justify-content: center;
}

.home__left {
  
}

.home__right {
  

}

.home__center {
  
  /* background-color: greenyellow; */
}

@media (min-width: 1024px) {
  .home {
    flex-wrap: nowrap;
    margin-top: 20px;
    justify-content: space-between;

  }

  .home__left {
   
    margin-left: 10px;
    margin-right: 10px;
    
  }

  .home__right {
    margin-left: 10px;
    margin-right: 10px;
  }
}


