.home {
  display: flex;
  height: 100vh;
  /* background-color: seagreen; */
  
}
.home__content {
  display: flex;
  justify-content: space-evenly;
  font-family: "Roboto", sans-serif;
  
}

.home__left {
  display: flex;
  margin-left: .5rem;
  margin-right: .5rem;
  /* background-color: salmon; */
  padding-top: 30px;
  width: 30%;
  height: auto;
}

.home__center {
  display: flex;
  flex-direction: column;
  /* background-color: khaki; */
  padding-top: 30px;
  
  overflow-y: scroll;
}

.home__right {
  display: flex;
  flex-direction: column;
  margin-left: .5rem;
  margin-right: .5rem;
  /* background-color: hotpink; */
  padding-top: 30px;
}
