.home {
  display: flex;
  justify-content: center;   
  /* background-color: seagreen; */
  
  contain: content;
  
  
}

.home__left {  
  flex-direction: column;  
  /* background-color: salmon; */
  padding: 0 .5rem;
  padding-top: 1.5rem; 
  width: 15rem;
  
  
}

.home__center {
  display: flex;    
  flex-direction: column;
  /* background-color: khaki; */
  padding-top: 1.5rem;
  width: auto;
 
}


.home__centerBottom {
  display: flex;
  /* background-color: mediumslateblue;    */
  height: 100vh;
  overflow-y: scroll;
}

.home__right {
  display: flex;
  flex-direction: column;  
  /* background-color: hotpink; */
  padding: 0 .5rem;
  padding-top: 1.5rem; 
  width: 30rem;
    
}
