.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky; /* keeps the header in the same position */
  background-color: #c62033;
  top: 0;
  z-index: 3;
}

.header__left {
  display: flex;
  width: 33%;
  justify-content: space-evenly;
}

.header__center {  
  display: flex;
  justify-content: center;
  width: 33%;
}

.header__right {
  display: flex;
  width: 33%;
  justify-content: space-evenly;
  align-items: center;
}


.header__image {
  width: 50px;
  height: 50px;
  padding: 5px;
}

.header__image > img {
  width: 100px;
  height: 100px;
}

.header__image > img:hover {
  transform: scale(1.25);
}

.header__links {
  text-decoration: none;
  
}

.header__p {  
  cursor: pointer;  
  color: #a1aaad;  
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 10px;
}

.header__p:hover {
  transform: scale(1.07);
  
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: #a1aaad;
}

.header__optionLineOne {
  font-size: 10px;
  
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
  cursor: pointer;
  
}

.header__optionLineTwo:hover {
  transform: scale(1.07);
}


