.footer {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 30px;
  align-items: center;
  justify-content: center;
}

.footer > p {
  color: #cdcdcd;
}

.footer__links {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.footer__links > p {
  color: #cdcdcd;
  font-size: 0.75rem;
}

.footer__link {
  text-decoration: none;
  color: #cdcdcd;
}

.footer__social {
  padding: 20px;
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}
