.player {
  display: flex;
  background-color: white;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 6px;
  border-radius: 5px;
  contain: content;
  padding: 10px;
}

.player:hover {
  transform: scale(1.07);
}

.player__info {
    text-align: left;
    flex-direction: column;
    padding-left: 10px;
    width: 100%;
  }
  
  .player__info > p {
    font-size: small;
  }
  
  .player__position {
    color: lightgray;
  }

.player__average {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.player__average > p {
  color: lightgray;
  font-size: small;
}




