.gameChanger {
  /* background-color: green; */
  display: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

@media (min-width: 1024px) {
  .gameChanger {
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
}
