.gameChanger {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  
  
}

.gameChanger > h3 {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 10px;
  background-color: #d11800;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #eaeaea;
}

.gameChanger__iFrame {
    display: flex;
    flex-direction: column;
    margin-left: 28px;
    margin-right: 0;
    /* background-color: mediumvioletred; */
}
