.postInput {
  display: flex;    
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0.75);
}

.postInput__top {
  display: flex;  
  background-color: #c62033;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #a1aaad;
  border-bottom: 1px solid #eaeaea;
  flex-direction: column;
  
}

.postInput__top > form {
  display: flex;
  justify-content: flex-start;

  
}

.postInput__topLabel {
  display: flex;
  font-size: 0.7rem;
  color:  #a1aaad;
  padding: 0;
  position: relative;
  left: 6rem;
  width: 100px;
  
}

.postInput__topLabel > p {
  display: flex;
  font-size: 0.7rem;
  color:  #a1aaad;
  align-items: center;
  position: relative;
  left: 5.5rem;
  width: 75px;  
  cursor: pointer;  
  font-weight: bolder; 
  font-size: .7rem;
  
}


.postInput__messageInput {
  outline-width: 0;
  border: none;
  height: 0.75rem;
  padding: 5px 20px;
  margin: 0 10px;
  border-radius: 999px;
  display: flex;
  background-color: #f5f5f5;
  font-size: 0.65rem;
  width: 8rem;
  position: relative;
  left: 2.5rem;
  
}
.postInput__messageInput::placeholder {
  color: #a1aaad;
 }

.postInput__imageInput {
  outline-width: 0;
  border: none;
  height: 0.75rem;
  padding: 5px 20px; 
  border-radius: 999px;
  display: flex;
  background-color:blue;
  font-size: 0.65rem;
  width: 8rem;
  opacity: 0;
  cursor: pointer;
  position: relative;
  right: 20px;
}

.postInput__preview > p {
  font-size: 0.7rem;
  color:  #a1aaad;
  padding: 10px 0;
  /* background-color: yellow; */
  position: relative;
  left: 3.5rem;

}

.postInput__btn > button {
  
  border: none;
  background-color:#c62033;
  color:  #a1aaad;
  cursor: pointer;
  font-size: .7rem;
  font-weight: bolder;
  outline-width: 0;
}

.postInput__btn > button:hover {
  transform: scale(1.07);
}

.postInput__bottom {
  display: flex;
  justify-content: space-evenly;
}

.postInput__option {
  padding: 20px;
  display: flex;
  align-items: center;
  color: gray;
  margin: 5px;
}

.postInput__option > h3 {
  font-size: medium;
  margin-left: 10px;
}

.postInput__option:hover {
  background-color: #eff2f5;
  border-radius: 20px;
}
